*{padding:0; margin:0;}

header,nav, 

article,section,main,hgroup,figcaption,footer,aside,dialog,figure{ 

display:block;}

html{ font-family:"weiruanyahei","Helvetica Neue",Helvetion,STHeiTi,Arial,sans-serif;-ms-text-size-abjust:100%; font-size:1.4rem; 

color:#333333;background-color:width;height:100%; overflow-x:hidden;-webkit-overflow-scrolling:touch;}

a{ background:transparent; text-decoration:none; -webkit-tap-highlight-color:transparent; color:#0088cc;}

a:active,a:active{ outline:0; color:#006699;}

body{-webkit-touth-callout:none;
     -webkit-user-select:none;
     -o-user-select:none;
     -moz-user-select:none;
     -ms-user-select:none;
     user-select:none;}

img,div,body,html,ul,li,a{ -webkit-touch-callout:none;}

a:active,input,button{ background-color:transparent !important;-webkit-tap-highlight-color:tarnsparent;border:0;outline:none;}

input::-webkit-input-placeholder,textarea::-webkit-input-placeholder
{color:#f00;}
input{-webkit-appearance:none;}

@font-face{
	font-family:"aa";
	src:url(../fonts/STXINGKA.TTF)
}


body{
	width:100%;
	height:100%;
	background:#2D2D2D;
	display:flex;
	flex-direction:column;
}

header{
	width:100%;
	height:50px;
	background:#FB3471;
	display:flex;
	a{
		display:flex;
		flex:1;
		justify-content:center;
		align-items:center;
		&:nth-child(2){
			flex:8;
			font-family:aa;
			color:#9EB428;
			font-size:1.4rem;
		}
		&:nth-child(3){
			background:url(../images/jiaju/i6.png) no-repeat left center;
		}
	}
}

section{
	width:100%;
	height:auto;
	margin-bottom:58px;
	flex:1;
	overflow-y:scroll;
	ul{
		width:100%;
		height:auto;
		display:flex;
		flex-wrap:wrap;
		li{
			display:flex;
			width:33.3%;
			border:1px solid #000;
			height:auto;
			box-sizing:border-box;
			justify-content:center;
			a{
				font-size:0.8rem;
				margin:10px;
				color:#fff;
				span{
					display:flex;
					margin-top:10px;
				}
				img{
					display:flex;
					width:100%;
					height:auto;
				}
			}
		}
	}
}

footer{
	width:100%;
	height:48px;
	background:url(../images/jiaju/i11.png) repeat-x;
	position:fixed;
	bottom:0;
	ul{
		width:100%;
		height:100%;
		display:flex;
		border:1px solid #000;
		box-sizing:border-box;
		li{
			display:flex;
			flex:1;
			justify-content:center;
			border-right:1px solid #000;
			border-top:1px solid #767676;
			&:last-child{
				border-right:0;
			}
			a{
				font-size:0.6rem;
				color:#fff;
				img{
					display:flex;
					width:100%;
					height:auto;
				}
				span{
					display:flex;
				}
			}
		}
	}
}



































