* {
  padding: 0;
  margin: 0; }

header, nav,
article, section, main, hgroup, figcaption, footer, aside, dialog, figure {
  display: block; }

html {
  font-family: "weiruanyahei","Helvetica Neue",Helvetion,STHeiTi,Arial,sans-serif;
  -ms-text-size-abjust: 100%;
  color: #333333;
  background-color: width;
  height: 100%;
  overflow-x: hidden;
  -webkit-overflow-scrolling: touch; }

a {
  background: transparent;
  text-decoration: none;
  -webkit-tap-highlight-color: transparent;
  color: #0088cc; }

a:active, a:active {
  outline: 0;
  color: #006699; }

body {
  -webkit-touth-callout: none;
  -webkit-user-select: none;
  -o-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none; }

img, div, body, html, ul, li, a {
  -webkit-touch-callout: none;
  list-style: none; }

a:active, input, button {
  -webkit-tap-highlight-color: tarnsparent;
  border: 0;
  outline: none; }

input::-webkit-input-placeholder, textarea::-webkit-input-placeholder {
  color: #DBDBDB; }

input {
  -webkit-appearance: none; }

body {
  width: 100%;
  height: 100%;
  background: #E7E9E8;
  display: flex;
  flex-direction: column; }

header {
  width: 100%;
  height: 75px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 20px;
  box-sizing: border-box;
  font-size: 1.6rem;
  color: #000;
  background: #F0EEEF; }
  header a:first-child {
    color: #DD4949; }

form {
  width: 100%;
  height: 65px;
  background: #D4D4D4;
  line-height: 65px;
  text-align: center;
  position: relative; }
  form input {
    width: 96%;
    height: 45px;
    border-radius: 10px;
    text-indent: 2em;
    font-size: 1.2rem; }
  form img {
    position: absolute;
    left: 3%;
    top: 20px; }

section {
  flex: 1;
  overflow-y: scroll; }
  section dl {
    width: 94%;
    height: auto;
    margin: 26px auto 0 auto; }
    section dl dt {
      width: 100%;
      height: auto;
      position: relative; }
      section dl dt img {
        width: 100%;
        height: auto;
        display: block; }
      section dl dt span {
        position: absolute;
        display: block;
        width: 40%;
        height: 54px;
        line-height: 54px;
        text-align: center;
        background: rgba(0, 0, 0, 0.5);
        color: #fff;
        font-size: 1.4rem;
        top: 50%;
        left: 0; }
    section dl dd {
      width: 100%;
      height: 84px;
      display: flex;
      background: #fff; }
      section dl dd h2:first-child {
        flex: 2;
        text-align: center;
        line-height: 84px;
        background: url(../images/xh/i6.jpg) no-repeat right center; }
      section dl dd h2:last-child {
        flex: 8;
        padding-left: 10px; }
        section dl dd h2:last-child span:first-child {
          float: left;
          line-height: 40px; }
        section dl dd h2:last-child span:first-child i {
          color: #B34C50;
          font-style: normal; }
        section dl dd h2:last-child span:nth-child(2) {
          color: #fff;
          width: 120px;
          height: 34px;
          line-height: 34px;
          text-align: center;
          background: #E6E825;
          border-radius: 5px;
          float: left;
          margin: 3px 0 0 16px; }
        section dl dd h2:last-child span:nth-child(3) {
          color: #6D6D6D;
          font-size: 1.2rem;
          display: block;
          clear: both;
          line-height: 35px; }
  section h3 {
    width: 94%;
    height: 58px;
    margin: 22px auto;
    background: #fff;
    line-height: 58px; }
    section h3 span {
      width: 58px;
      height: 58px;
      text-align: center;
      background: #91BC6C;
      float: left; }
      section h3 span img {
        padding-top: 14px; }
    section h3 b {
      padding-left: 16px; }
  section ol {
    width: 94%;
    height: auto;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap; }
    section ol li {
      width: 33.3%;
      display: flex;
      align-items: center;
      justify-content: center; }
      section ol li a img {
        width: 100%;
        height: auto;
        margin: 10px auto; }
  @media (max-width: 768px) {
    section ol li {
      width: 100%;
      margin: 10px auto; } }
  @media (min-width: 768px) and (max-width: 1024px) {
    section ol li {
      width: 50%;
      margin: 10px auto; } }
  @media (min-width: 1024px) {
    section ol li {
      width: 33.3%;
      margin: 10px auto; } }
  section h4 {
    width: 94%;
    height: 50px;
    line-height: 50px;
    margin: 0 auto;
    font-size: 1.4rem;
    display: flex;
    justify-content: space-between;
    padding-right: 6px;
    box-sizing: border-box; }

section > ul {
  width: 94%;
  height: 72px;
  margin: 0 auto;
  display: flex; }
  section > ul li {
    flex: 1;
    font-size: 1.4rem;
    display: flex;
    justify-content: center;
    align-items: center; }
    section > ul li a {
      color: #818181;
      display: flex;
      align-items: center; }
      section > ul li a span {
        width: 10px;
        height: 10px;
        border-radius: 5px;
        display: flex;
        background: #DE9757;
        margin-right: 10px; }
    section > ul li:nth-child(2) a span {
      background: #7FB06F; }
    section > ul li:nth-child(4) a span {
      background: #EF7476; }
    section > ul li:nth-child(5) a span {
      background: #5A9C6C; }

.img {
  width: 94%;
  height: auto;
  margin: 0 auto; }
  .img ul {
    width: 100%;
    height: 100%;
    overflow-x: scroll;
    display: flex; }
    .img ul li {
      width: auto;
      margin: 0 10px 10px 0;
      display: flex; }
      .img ul li img {
        width: 254px;
        height: 148px; }

footer {
  width: 100%;
  height: 74px;
  border-top: 1px solid #ccc;
  background: #F9F9F9; }
  footer ul {
    width: 100%;
    height: 100%;
    display: flex; }
    footer ul li {
      flex: 1;
      display: flex;
      align-items: center; }
      footer ul li a {
        width: 100%;
        height: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        color: #B5B5B5; }
        footer ul li a span {
          padding-top: 5px; }

/*# sourceMappingURL=xh.css.map */
