* {
  padding: 0;
  margin: 0; }

header, nav,
article, section, main, hgroup, figcaption, footer, aside, dialog, figure, banner {
  display: block; }

html {
  font-family: "weiruanyahei","Helvetica Neue",Helvetion,STHeiTi,Arial,sans-serif;
  -ms-text-size-abjust: 100%;
  line-height: 1.5;
  color: #333333;
  background-color: width;
  height: 100%;
  overflow-x: hidden;
  -webkit-overflow-scrolling: touch; }

a {
  background: transparent;
  text-decoration: none;
  -webkit-tap-highlight-color: transparent;
  color: #0088cc; }

a:active, a:active {
  outline: 0;
  color: #006699; }

body {
  -webkit-touth-callout: none;
  -webkit-user-select: none;
  -o-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none; }

img, div, body, html, ul, li, a {
  -webkit-touch-callout: none;
  list-style: none; }

a:active, input, button {
  -webkit-tap-highlight-color: tarnsparent;
  border: 0;
  outline: none; }

input::-webkit-input-placeholder, textarea::-webkit-input-placeholder {
  color: #999; }

input {
  -webkit-appearance: none; }

html, body, .wrap {
  width: 100%;
  height: 100%;
  background: #F3F4F6; }

.wrap {
  display: flex;
  flex-direction: column; }

header {
  width: 100%;
  height: 105px;
  background: #02BA9E;
  display: flex; }
  header a {
    flex: 1;
    color: #fff;
    font-size: 1.6rem;
    display: flex;
    justify-content: center;
    align-items: center; }
    header a:nth-child(4) {
      flex: 3; }
    header a:nth-child(2) {
      font-size: 2rem; }

nav {
  width: 100%;
  height: 84px;
  border-bottom: 1px solid #ccc;
  display: flex; }
  nav a {
    flex: 1;
    font-size: 1.6rem;
    color: #7C7C7C;
    display: inline-block;
    height: 82px;
    width: 100%;
    text-align: center;
    line-height: 82px; }
    nav a:hover {
      color: #63CAB7;
      border-bottom: 2px solid #63CAB7; }

section {
  width: 100%;
  height: 100px; }
  section ul {
    width: 96%;
    height: 70px;
    display: flex;
    margin: 15px auto; }
    section ul li {
      flex: 2;
      border: 1px solid #ccc;
      display: flex;
      align-items: center;
      justify-content: center; }
      section ul li:nth-child(4) {
        border: 0;
        flex: 3; }
      section ul li:nth-child(1) {
        border-radius: 10px 0 0 10px;
        border-right: 0;
        background: #E6E7E9; }
      section ul li:nth-child(2) {
        border-right: 0;
        background: #fff; }
      section ul li:nth-child(3) {
        border-radius: 0 10px 10px 0;
        background: #fff; }
      section ul li:nth-child(5) {
        border-radius: 10px; }
        section ul li:nth-child(5) span {
          width: 0;
          height: 0;
          overflow: hidden;
          border: 10px solid transparent;
          border-top-color: #888888;
          position: relative;
          top: 21px;
          left: 6px; }
      section ul li a {
        color: #000;
        font-size: 1.8rem; }

.cont {
  flex: 1;
  overflow-y: scroll; }
  .cont dl {
    width: 96%;
    margin: 10px auto;
    display: flex;
    flex-direction: row;
    background: #fff; }
    .cont dl dt {
      width: auto;
      display: flex;
      flex-basis: 230px; }
    .cont dl dd {
      width: auto;
      padding-left: 24px;
      overflow: hidden;
      text-overflow: ellipsis;
      display: flex;
      flex-direction: column; }
      .cont dl dd h2 {
        flex: 2;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
        padding-top: 20px; }
      .cont dl dd p {
        flex: 4;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap; }
        .cont dl dd p:last-child {
          flex: 1;
          display: flex;
          align-items: flex-end; }
          .cont dl dd p:last-child span {
            padding-right: 10px; }
            .cont dl dd p:last-child span i {
              padding-left: 5px;
              font-style: normal; }

footer {
  width: 100%;
  height: 115px;
  display: flex;
  background: #fff;
  border-top: 1px solid #ccc;
  justify-content: center;
  align-items: center; }
  footer a {
    flex: 1;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center; }
    footer a:nth-child(2) {
      flex: 3;
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      padding-left: 20px;
      color: #000;
      font-size: 1.6rem; }
      footer a:nth-child(2) span:last-child {
        font-size: 1.4rem; }
        footer a:nth-child(2) span:last-child i {
          font-style: normal;
          color: #989898;
          padding-right: 10px; }
    footer a:first-child {
      background: #FAFAFA;
      padding: 0 10px; }

/*# sourceMappingURL=yy.css.map */
